


body {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

  ::-webkit-scrollbar {
    display: none;
  }
*{
  font-family: gramatic4;
 
}
input{
  outline: none;
}
a{
  font-size: 20px;
  text-decoration-line: none;

}
h1{
  font-size: 20px;

}
h2{
  font-size: 20px;

}
h3{
  font-size: 20px;
 
}
h4{
  font-size: 20px;

}
h5{
  font-size: 20px;

}
h6{
  font-size: 20px;

}
p{
  font-size: 15px;


}